doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Meeting
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
      header
        h1 Meeting Project
      main
        div#welcome 
          form
            input(placeholder="room name", required, type="text")
            button Enter Room
        div#call
          div#myStream
            style.
              div {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                flex-wrap: wrap;
              }
            video#myFace(autoplay,playsinline,width="480",height="360")
            video#peerFace(autoplay,playsinline,width="480",height="360")
          div#buttons
            button#muteAudio Mute
            button#muteVideo CameraOFF
          select#cameras
    script(src="/socket.io/socket.io.js")
    script(src="/public/app.js")