doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Meeting
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
      header
        h1 Meeting Project
      main
        h2 welcome to Meeting 
        button Call
    script(src="/public/app.js")